<a href="https://colab.research.google.com/github/sonivarun01/ai-ml-colab-projects/blob/main/One_Hot_Encoding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [ ]:
data = {
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix'],
    'Purchased': ['Yes', 'No', 'No', 'Yes', 'Yes']
}

In [ ]:
df = pd.DataFrame(data)

In [ ]:
print("Original DataFrame:")
print(df)

Original DataFrame:
          City Purchased
0     New York       Yes
1  Los Angeles        No
2      Chicago        No
3      Houston       Yes
4      Phoenix       Yes

In [ ]:
onehot_encoder = OneHotEncoder(sparse_output=False)

In [ ]:
city_encoded = onehot_encoder.fit_transform(df[['City']])

In [ ]:
city_encoded_df = pd.DataFrame(city_encoded, columns=onehot_encoder.get_feature_names_out(['City']))

In [ ]:
df_sklearn_encoded = pd.concat([df, city_encoded_df], axis=1)

In [ ]:
print("\nDataFrame After One-Hot Encoding Using sklearn:")
print(df_sklearn_encoded)

DataFrame After One-Hot Encoding Using sklearn:
          City Purchased  City_Chicago  City_Houston  City_Los Angeles  \
0     New York       Yes           0.0           0.0               0.0
1  Los Angeles        No           0.0           0.0               1.0
2      Chicago        No           1.0           0.0               0.0
3      Houston       Yes           0.0           1.0               0.0
4      Phoenix       Yes           0.0           0.0               0.0

   City_New York  City_Phoenix
0            1.0           0.0
1            0.0           0.0
2            0.0           0.0
3            0.0           0.0
4            0.0           1.0